@import "../../scss/variables";

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .cards {
    background-color: $cardNavbgColor;
    margin: 1rem;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden; // yazıları çerçeve dışındayken gizler
    &:hover .card-over {
      //yazıların yukarı çıkmasını sağlar
      transform: translateY(0%);
    }
  }
  .title {
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
  }
  img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    filter: blur(0);
    &:hover {
      filter: blur(5px);
    }
    transition: filter 0.4s ease-in-out; //bulanıklaştırma efekti
  }
  .card-over {
    //Cards'ın üstündeki yazılar
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    padding: 1.5rem;
    transform: translateY(100%); //Y ekseninde %100 kaydırır
    z-index: 1;
    transition: transform 0.7s ease-in-out; // geçiş efekti
  }
}
